PanchitaFeliz_ModeloServicio/Service References/ServiceReference1/Servicio.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2310/Servicio.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PruebaModelo" />
  <xs:element name="ObtenerPersonas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPersonasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PruebaModelo" minOccurs="0" name="ObtenerPersonasResult" nillable="true" type="q1:ArrayOfPERSONAS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerFacturas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerFacturasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PruebaModelo" minOccurs="0" name="ObtenerFacturasResult" nillable="true" type="q2:ArrayOfFACTURAS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerOrdenes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerOrdenesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PruebaModelo" minOccurs="0" name="ObtenerOrdenesResult" nillable="true" type="q3:ArrayOfORDENES" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerIngredientes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerIngredientesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PruebaModelo" minOccurs="0" name="ObtenerIngredientesResult" nillable="true" type="q4:ArrayOfINGREDIENTES" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPlatos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPlatosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/PruebaModelo" minOccurs="0" name="ObtenerPlatosResult" nillable="true" type="q5:ArrayOfPLATOS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEmpleados">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEmpleadosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/PruebaModelo" minOccurs="0" name="ObtenerEmpleadosResult" nillable="true" type="q6:ArrayOfEMPLEADOS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerClientes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerClientesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/PruebaModelo" minOccurs="0" name="ObtenerClientesResult" nillable="true" type="q7:ArrayOfCLIENTES_RESTAURANTE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerAcompanantes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerAcompanantesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/PruebaModelo" minOccurs="0" name="ObtenerAcompanantesResult" nillable="true" type="q8:ArrayOfACOMPANANTES" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerObjetosDelInventario">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerObjetosDelInventarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/PruebaModelo" minOccurs="0" name="ObtenerObjetosDelInventarioResult" nillable="true" type="q9:ArrayOfOBJETOSINVENTARIOS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMesas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMesasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/PruebaModelo" minOccurs="0" name="ObtenerMesasResult" nillable="true" type="q10:ArrayOfMESAS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSexos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSexosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/PruebaModelo" minOccurs="0" name="ObtenerSexosResult" nillable="true" type="q11:ArrayOfSEXOS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerUnidades">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerUnidadesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/PruebaModelo" minOccurs="0" name="ObtenerUnidadesResult" nillable="true" type="q12:ArrayOfUNIDADES" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCargos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCargosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/PruebaModelo" minOccurs="0" name="ObtenerCargosResult" nillable="true" type="q13:ArrayOfCARGOS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEstados">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEstadosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/PruebaModelo" minOccurs="0" name="ObtenerEstadosResult" nillable="true" type="q14:ArrayOfESTADOORDENES" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTiposPago">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTiposPagoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/PruebaModelo" minOccurs="0" name="ObtenerTiposPagoResult" nillable="true" type="q15:ArrayOfTIPOSPAGOS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarObjetosRecibidos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/PruebaModelo" minOccurs="0" name="nuevosObjetosRecibidos" nillable="true" type="q16:ArrayOfOBJETOSINVENTARIOS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarObjetosRecibidosResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarNuevoPlato">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/PruebaModelo" minOccurs="0" name="nuevoPlato" nillable="true" type="q17:PLATOS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarNuevoPlatoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarNuevaMesa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/PruebaModelo" minOccurs="0" name="nuevaMesa" nillable="true" type="q18:MESAS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarNuevaMesaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarNuevoSexo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/PruebaModelo" minOccurs="0" name="nuevoSexo" nillable="true" type="q19:SEXOS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarNuevoSexoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarNuevoCargo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/PruebaModelo" minOccurs="0" name="nuevoCargo" nillable="true" type="q20:CARGOS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarNuevoCargoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarNuevoEstado">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/PruebaModelo" minOccurs="0" name="nuevoEstado" nillable="true" type="q21:ESTADOORDENES" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarNuevoEstadoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarNuevaUnidad">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/PruebaModelo" minOccurs="0" name="nuevaUnidad" nillable="true" type="q22:UNIDADES" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarNuevaUnidadResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarNuevoTipoPago">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/PruebaModelo" minOccurs="0" name="nuevoTipoPago" nillable="true" type="q23:TIPOSPAGOS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarNuevoTipoPagoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarNuevoCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/PruebaModelo" minOccurs="0" name="nuevoCliente" nillable="true" type="q24:CLIENTES_RESTAURANTE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarNuevoClienteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarNuevoEmpleado">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/PruebaModelo" minOccurs="0" name="nuevoEmpleado" nillable="true" type="q25:EMPLEADOS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarNuevoEmpleadoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarNuevaOrden">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/PruebaModelo" minOccurs="0" name="nuevaOrden" nillable="true" type="q26:ORDENES" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarNuevaOrdenResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>